@model ICollection<Reservations> 
@{

    ViewData["Title"] = "Reservations Page";

    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<a class="btn btn-outline-success form-control" asp-action="Create" asp-controller="Reservations" asp-area="Admin">Add New Reservation</a>

<div class="report-container">
    <div class="report-header">
        <h1 class="recent-Articles">Recent Reservations</h1>
    </div>
    <div class="report-body">
        <table class="table table-bordered text-center ">
            <tr>
                <th>FullName</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>NumOfpersons</th>
                <th>date</th>
                <th>UserName</th>
                <th></th>
                <th></th>
            </tr>
            <tbody >

           
                @foreach (var reservation in Model)
            {
                    <tr>
                    <td>@reservation.FullName</td>
                    <td>@reservation.Email</td>
                    <td>@reservation.PhoneNumber</td>
                    <td>@reservation.NumOfpersons</td>
                    <td>@reservation.date</td>
                    <td>@reservation.User.UserName</td>

                        <td><a asp-action="Edit" asp-controller="Reservations" 
                            asp-area="Admin" class="btn btn-outline-info"
                            asp-route-id="@reservation.Id">Update</a>
                        </td>
                    <td>
                        <a asp-action="Delete" asp-controller="Reservations"
                               asp-area="Admin" class="btn btn-outline-danger"
                        asp-route-id="@reservation.Id">Delete</a>
                    </td>
                </tr>
            }

            </tbody>
        </table>

    </div>



</div>